h1{
    color: aqua;
    font-size: 99px;
    background-color: brown;
}
p{
    border: 1px solid blue;
}
#username{
    color: red;
}
.item{
    background-color: blueviolet;
}
.select{
    border: 1px solid green ;
}
.container{
    background-color: red;
    margin: 50px 20px 10px 5px;  /*outside space*/
    padding: 20px; /*inside space*/
    border: 5px /*border width*/ solid blue;
    border-radius: 100px /*curve the edges*/;
    

}